---
// Wave transition between Hero and Problem sections
---

<div class="hero-wave" aria-hidden="true">
  <svg viewBox="0 0 1440 80" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,40 C240,65 480,15 720,40 C960,65 1200,15 1440,40 L1440,80 L0,80 Z" fill="#1a3a5c" opacity=".18"/>
    <path d="M0,52 C320,28 640,68 960,38 C1150,22 1320,55 1440,48 L1440,80 L0,80 Z" fill="#1a3a5c"/>
  </svg>
</div>

<style>
  .hero-wave {
    position: relative;
    margin-top: -1px;
    background: linear-gradient(160deg, #f8fafb 0%, #edf5fc 50%, #e0f0f9 100%);
    line-height: 0;
  }
  .hero-wave svg {
    display: block;
    width: 100%;
    height: 80px;
  }
</style>
